@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/********
* Reset *
********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #E7E0D8 fixed;
}

/************
* Cabeçalho *
************/
header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    background: white;
}

/* Logotipo */
header .logo {
    position: relative;
    font-weight: 600;
}

/* Menu principal */
@media screen and (min-width: 656px){
    #menuDesk{
        display: grid;
        grid-auto-flow: column;
        justify-content: space-evenly;
    }
    #menuDesk ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
    }
    #menuDesk li{
        float: left;
    }
    #menuDesk li a, .dropbtn{
        display: inline-block;
        color: #80231E;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    #menuDesk li a:hover, .dropdown:hover .dropbtn{
        background-color: #D9A782;
    }
    #menuDesk li.dropdown{
        display: inline-block;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #DABDA0;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .dropdown-content a{
        color: #80231E;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown-content a:hover{
        background-color: #f1f1f1;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    #menuMobile{
        display: none;
    }
}

/* Menu responsivo */
@media screen and (max-width: 655px){
    header{
        flex-direction: column;
        padding: 0;
    }
    div#menuMobile{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 1.25rem 1.25rem 0 0;
        background-color: white;
        color: #B75C47;
    }
    #menuMobile ul{
        display: grid;
        grid-auto-flow: column;
        text-align: center;
        align-content: space-between;
        list-style: none;
        padding: .3rem;
    }
    #menuMobile nav{
        display: flex;
        flex-direction: column;
    }
    #menuMobile i{
        margin: .1rem;
        list-style: none;
        font-size: 1.5rem;
    }
    #menuMobile a{
        color: #B75C47;
        text-decoration: none;
        display: inline-flex;
        align-content: space-between;
    }
    #dropMobile{
        display: grid;
    }
    #dropMobile span{
        margin: .2rem;
        color: #B75C47;
        text-decoration: underline;
        text-align: center;
    }
    #dropMobile hr{
        border-top: 1px solid #DABDA0;
    }
    #dropMobile input{
        color: #bb1919;
        background: transparent;
        outline: none;
        border: 1px solid #bb1919;
        border-radius: .3rem;
        padding: .4rem 0 .4rem .3rem;
        width: 15rem;
        text-align: center;
        align-self: center;
    }
    #dropMobile input:focus{
        background-color: #bebbbb;
    }

    /* teste */
    #dropable img{
        width: 2rem;
    }
    #dropable{
        position: absolute;
        padding: 1rem;
        background: white;
        border-radius: .5rem 0 0 .5rem;
        z-index: 10;
        width: 100%;
        /* Menu oculto por padrão */
        display: none;
        /* Altura do menu */
        bottom: 2rem;
        /* Menu abre à partir da direita */
        left: 0;
    }
    #menuDesk{
        display: none;
    }
}

/*Barra de pesquisa*/
header .search{
    position: relative;
    width: 300px;
    height: 25px;
}
header .search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #bb1919;
    background: transparent;
    outline: none;
    border: 1px solid #bb1919;
    border-radius: 4px;
    padding: 10px 0px 10px 5px;
}
header .search input::placeholder{
    color: #909090;
}
header .search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #bb1919;
    border-left: 1px solid #bb1919;
    padding-left: 10px;
}

/* Cabeçalho responsivo */
@media (max-width: 991px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }
}


/***********
* Conteúdo *
***********/
main {
    padding: 20px 0 0 0;
    min-width: 280px;
    max-width: 1024px;
    min-height: 100vh;
    display: flex;
    margin: auto;
    font-family: 'Roboto';
    background: transparent;
}

main h2 {
    font-size: 2rem;
    color: #212529;
}

main p,
button {
    font-size: 16px;
    color: #212529;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: transparent;
    padding: 10px;
    margin: auto;
    justify-content: space-around;

}

.grid-container>div {
    background-color: #DABDA0;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    margin: auto;
    align-items: center;
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.img {
    border-radius: 50%;
}

button {
    display: block;
    background-color: transparent;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

aside {
    min-width: 320px;
    max-width: 1024px;
    min-height: 100vh;
    max-height: 100vh;
    margin: auto;
}

aside h3 {
    font-size: 1.5rem;
    color: #212529;
    margin: auto;
    text-align: center;
}

aside :hover {
    color: #bb1919;

}

@media (min-width: 575px) {
    .grid-container {
        display: flex;
        align-items: center;
    }
    #finf {
        margin: 0 0 0 0;
    }
}

/*********
* Rodapé *
*********/

footer{
    background-color: white;
}
#fsup{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding: 5px 0 0 0;
}
#fsup nav{
    display: flex;
    padding: 15px 10px;
    justify-content: space-around;
    color: #212529;
    margin-top: 0;
}
#fsup h4{
    font-size: 0.9rem;
    text-align: left;
    margin-left: .8rem;
}
#fsup span{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.9rem;
}
#fsup li{
    list-style: none;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}
#fsup i{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    color: #bb1919;
}
#fsup a{
    padding: 4px;
    display: flex;
    color: #5a5959;
    text-decoration: none;
}
#fsup a:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: white;
}
#fsup a span{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: .4rem;
    font-size: 0.9rem;
}
#fsup li input{
    position: relative;
    background-color: #bb1919;
    border-radius: 8px;
    border: 0px;
    font-size: 0.9rem;
    color: white;
    padding: 10px;
    width: 80%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: solid;
    overflow: hidden;
    cursor: pointer;
    margin-top: .5rem;
    margin-left: .4rem
}
#fsup li input:after{
    content: "";
    background: #f1f1f1;
    display: block;
    position:absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
#fsup li input:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

#finf{
    display: flex;
    justify-content: center;
    background-color: #bb1919;
    color: white;
    font-size: 0.6rem;
    letter-spacing: 0.5px;
    padding: 1rem 0 1rem 0;
    margin: 0 0 3rem 0;
}

/**************************
 * Mensagem sobre cookies *
 **************************/

#acCookies {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;  
}

.cookieBody {
  background-color: transparent;
  padding: 1rem;
}

.cookieBox {
  background-color: rgb(255, 224, 255);
  padding: .6rem;
  border-radius: .5rem;
  max-width: 988px;
  margin: auto;
}

.cookieBox button {
  display: block;
  margin: auto;
  margin-top: .5rem;
  background: #B75C47;
  color: white;
  border: none;
  box-shadow: 5px 5px 10px 0px ( 138, 138, 138, 1);
  cursor: pointer;
  padding: .25rem .5rem;
  border-radius: .3rem;
}

.cookieBox button:hover {
  background: #D9A782;
}

@media (min-width: 575px) {
  .cookieBox {
    display: flex;
    align-items: center;
  }

  .cookieBox button {
    margin: 0;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 780px){
    #fsup{
        margin:auto;
        padding: 30px;
    }
    #fsup nav{
        display:flex;
        flex-direction: column;
    }
    #fsup a span{
        font-size: 1.1rem;
        text-align: center;
    }
    #fsup h4{
        font-size: 1.1rem;
        margin: 1.3rem;
        text-align: center;
        background-color: #ffe5c8;
        border-radius: 3px;
    }
    #fsup i{
        display: inline-block;
        text-align: center;
    }
    #fsup span{
        font-size: 1.1rem;
        text-align: center;
    }
    #fsup li img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    #fsup li input{
        font-size: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: solid;
    }
}