@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/**************
* Reset Geral *
**************/

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(17, 1, 0);
}

a{
    color: #80231E;
    text-decoration: none;
}

a:hover{
    color: #F7F6F2;
    text-decoration: none;
}


body{
    background: #E7E0D8 fixed no-repeat;
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;

    min-width: 280px;
    max-width: 1024px;

    margin: auto;
} 
/*Fim do reset*/

/****
 * Rodapé *
 ****/
 
footer{
  background-color: #E7E0D8;
  padding: 50px 0;
}
.container-footer{
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}
.row-footer{ 
  display: flex;
  flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h3{
font-size: 22px;
color:#80231E;
margin-bottom: 20px;
font-weight: 500;
position: relative;
text-transform: uppercase;
}
.footer-col ul{
  list-style: none;
}
.footer-col ul li{
  margin: 10px 0;
}
.footer-col ul li a{
  font-size: 16px; 
  text-transform: capitalize;
  color: #80231E;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: white;
  padding-left: 10px;
}
.footer-col .medias-socias{
  margin-top: 30px;
}
.footer-col .medias-socias a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}
.footer-col .medias-sociais a i{
  font-size: 20px;
}
.footer-col .medias-sociais a:hover{
  color: #415aca;
  background-color: white;
}
.footer-col .form-sub input{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  color: white;
  background-color: #DABDA0;
}
.footer-col .form-sub input::placeholder{
  color: white;
}
.footer-col .form-sub button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color:#F7F6F2;
  border-radius: 3px;
  font-weight: bold;
  background-color: #DABDA0;
}
/* Responsivo */
@media (max-width:800px) {
 .footer-col{
  width: 50%;
  margin-bottom: 30px;
 }
}
@media (max-width:600px) {
  .footer-col{
      width: 100%    
  }
}

  








